<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>AngularJS Shopping List</title>
    <script src="./lib.js"></script>
</head>

<body ng-controller="myctrl">
   
        <h1>Shopping List</h1>

        <!-- Display the items in a table -->
        <table>
            <tr ng-repeat="item in shoppingItems">
                {{<td>{{ item }}</td>}}
                <td><button ng-click="removeItem($index)">Remove</button></td>
            </tr>
        </table>
        
        <br>
        <!-- Input field and button to add a new item -->
        <div>
            <label>
                Add a new item:
                <input type="text" ng-model="newItem" placeholder="Enter item">
            </label>
            <button ng-click="addItem()">Add Item</button>
        </div>


    <script>
        angular.module('myApp', [])
            .controller('myctrl', function ($scope) 
            {
                // Default values for shopping items
                $scope.shoppingItems = ['Apples', 'Bananas', 'Bread', 'Milk'];

                // Function to add a new item
                $scope.addItem = function () {
                    if ($scope.newItem) 
                    {
                        $scope.shoppingItems.push($scope.newItem);
                        $scope.newItem = ''; // Clear the input field after adding
                    }
                };

                // Function to remove an item
                $scope.removeItem = function (index) {
                    $scope.shoppingItems.splice(index, 1);
                };
            });
    </script>
</body>

</html>
